__pycache__
*.pkl
cifar-10/data_batch*
__pycache__/*
__pycache__/models.cpython-38.pyc
__pycache__/nn_base.cpython-38.pyc
__pycache__/pseudo_labels.cpython-38.pyc
__pycache__/tests.cpython-38.pyc
__pycache__/util.cpython-38.pyc
